@import '../styles/variable.scss';

.header {
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $e;
  color: #fff;
  gap: 8px;
  font-weight: bold;

  & .gamename {
    & p {
      margin: 0;
      font-size: 1.5rem;
    }
  }

  & .author {
    & a {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      color: #fff;
      gap: 4px;

      & img {
        width: 18px;
      }

      & p {
        margin: 0;
        font-size: 1rem;
      }
      &:hover {
        filter: brightness(75%);
        cursor: pointer;
      }
    }
  }
}
